html {
    font-size: 22px;
    background-color:#0A0000;
}

body {
    color:#000000;
    background-color:#ffffff;
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px solid #333;
    border-right: 1px solid #333;
    text-align: center;
    font-size: 19px;
    font-weight: 400;

}

a:hover{
    color:darkgray;
}	
table{
	margin:0 auto;
}

th, td, caption {
    color:#0F0000;
    border: 1px solid #333;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: separate;
    padding: 0.5rem;
}
